body {background-color:darkseagreen;}
img {border:black 5px solid ; width:30%; height:30%; margin-left:100px;}
h1 {font-family:Papyrus; }
h2 {color: darkolivegreen ;font-family:Monaco;}
h4 {color: darkolivegreen ;font-family:Monaco;}
p {font-family:Monaco;}
p {margin:0}.left {float:left;width:45px}.right {float:left;margin:0 0 0 5px;width:215px;}
